.header {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  background-color: rgb(207, 206, 206);
  
}

.header__title {
  margin: 0 auto;
  padding: 0;
}


@media screen and (max-width: 400px) {
  .header {
    padding: 0;
  }
  
}